@media screen and (max-width:767px) {
.mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--white-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
    border-bottom: 1px solid var(--white-color);
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
    }


 .mobile-menu-link {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--modal-overly-color);
    transition: color 250ms var(--timing-function);

  

} 
.mobile-menu-link.current {
    color: var(--hov-focus-color);
}
.address-mobile-tel {
    font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
      
        color: #4D5AE5;
        transition: color 250ms var(--timing-function);
}
@media screen and (max-width: 368px) {
    .address-mobile-tel {
        font-size: 24px;

    }
}
@media screen and (min-width: 369px) and (max-width: 427px){
    .address-mobile-tel {
        font-size: 30px;
           
        }
    
}

.address-mobile-email {
   font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms var(--timing-function);
       
      
    
}
.address-mobile-item {
    margin-bottom: 40px;
}
.address-mobile-list {
    margin-bottom: 48px;
}


.mobile-menu-item {
    margin-top: 40px;
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}
.mobile-menu-container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 40px 35px 40px 40px;
    display: flex;
    flex-direction: column;
  
       }
           .mobile-contacts {
               margin-top: auto;
           }
        
.mobile-menu_close-btn {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    right: 24px;
    background-color: #E7E9FC1E;
    border-radius: 50%;
    border: 1px solid #E7E9FC;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2)


}

.mobile-social-list {
    display: flex;
    column-gap: 56px;
    
}

.mobile-social-item {
    width: 40px;
    height: 40px;
}

.mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--light-color);
    background-color: var(--primary-brand-color);
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.mobile-social-link:is(:hover, :focus) {
    background-color: var(--hov-focus-color);
}

.mobile-social-icon {
    fill: currentColor;
}}