:root {
    --first-bakground-color: #FFFFFF;
    --primary-brand-color: #4D5AE5;
    --light-color: #F4F4FD;
    --hov-focus-color: #404BBF;
    --modal-overlay-color: #2E2F42;
    --white-color: #FFFFFF;
    --dark-color: #2E2F42;
    --text-color: #434455;
    --accent-color: #E7E9FC;
    --subtle-text-color: #8E8F99;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    
}
h1, 
h2, 
h3,
h4,
h5,
h6,
   p {
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    font-family: "Roboto", sans-serif;
    
    
    background: var(--first-bakground-color);
    color: var(--text-color);
   }
   .container {
    /* width: 1158px; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    /* outline: 1px solid red;     */
    padding-left: 15px;
    padding-right: 15px;
    }
    @media screen and (min-width: 480px) {
        .container {
            max-width: 428px;
        }
    }
        @media screen and (min-width: 768px) {
            .container {
                max-width: 768px;
            }
        }
    
        @media screen and (min-width: 1200px) {
            .container {
                max-width: 1158px;
            }
        }
.list {
    list-style: none;
   
}

.logo > span {
    color: var(--primary-brand-color);
}

.link {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.btn {
   
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
   
    }
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    }
    
    
     
/*------------ Header------------- */
/* 0px-767px */
@media screen and (max-width:767px) {
.header-list {
        display: none;
    }


    .address {
        display: none;
    }

.mobile-menu-open {
    background-color: transparent;
    color: var(--dark-color);
    border: none;
    padding: 0;
    line-height: 0;


}

.mobile-menu-open_icon {
    fill: currentColor;
}


.header {
    padding-top: 24px;
    padding-bottom: 22px;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.qualities-item {
    margin-bottom: 72px;
}

.qualities-item:last-child {
    margin-bottom: 0;
}
.team-list {
    max-width: 264px;
    width: 100%;
    margin: 0 auto;
    height: 100%;

}
.footer-container {
    
    flex-wrap: wrap;
    flex-direction: column;

}
.footer-form {
    flex-direction: column;
    align-items: center;
}
.footer-text-subs {
    text-align: center;
}
.content2 {
            display: flex;
        flex-direction: column;
        align-items: center; 
        width: 100%;
}

}
.header-logo {
    color: var(--dark-color);

}
@media screen and (max-width: 1199px) {
    .qualities-icon {
            display: none;
        }
        .work {
            display: none;
        }
         
}


/*---------------- Hero --------------*/
 .hero {
    max-width: 428px; 
    margin-left: auto;
    margin-right: auto;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobilehero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution:192dpi),
    screen and (min-resolution:2dppx) {
        .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mobilehero@2x.jpg);

        }
               
    }

 .hero-title {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 72px;   
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--white-color);
}

.hero-btn {
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
    color: var(--white-color);
    background: var(--primary-brand-color);
    border: 1px solid transparent ;
    border-radius: 4px;
    transition: background-color 250ms var(--timing-function);}
        
.hero-btn:hover {
    background: var(--hov-focus-color);
    
} 

/* ----------------Section Qualities--------------- */
 .qualities {
  
    padding-top: 96px; 
    padding-bottom: 96px;
}


.qualities-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
    text-align: center;
    margin-bottom: 8px;

}
.qualities-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* -----------------------Team------------------- */
.team {
    background: var(--light-color);
   
    
}
.container-mobile {
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 72px;
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 8px;
}
.team-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-bottom: 8px;
}
.team-content {
    padding: 32px 16px;
    text-align: center;
    background: var(--white-color);
}
.team-social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}
.team-social-item {
    width: 40px;
    height: 40px;
}
.team-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: var(--light-color);
    background-color: var(--primary-brand-color);
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.team-social-link:is(:hover, :focus) {
    background-color: var(--hov-focus-color);
}

.team-social-icon {
    fill: currentColor;
}


/* ------------------Customers------------------ */

.customers-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 72px;
}
.customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 72px;
    

}
.customers-item {
    width: 190px;
    height: 88px;
}
.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: var(--subtle-text-color);
    border-radius: 4px;
    border: 1px solid var(--subtle-text-color);
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);

}
.customers-link:is(:hover, :focus) {
    border-color: var(--hov-focus-color);
    color: var(--hov-focus-color);

}

.customers-icon {

    fill: currentColor;
}


/* -----------------footer------------- */
.footer {
   
    background: var(--modal-overlay-color);
   
  }
  .footer-container {
    display: flex;
    

  }
  .footer-logo {
    display: block;
    text-align: center;
    
      color: var(--light-color);
  }
  
  .footer-text {
    
    margin: 0 auto;
    width: 268px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
    color: var(--accent-color);
     margin-top: 16px;
  }
  .footer-social-subtitle {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--white-color);
      
      text-align: center;
    
  }
  .footer-social {
margin-top: 72px;

  }
  .footer-social-list {
      display: flex;
      justify-content: center;
      gap: 16px;
      margin-top: 16px;
  }
  .footer-social-item {
      width: 40px;
      height: 40px;
  }

  .footer-social-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      color: var(--light-color);
      background-color: var(--primary-brand-color);
      transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  }

  .footer-social-link:is(:hover, :focus) {
      background-color: #31D0AA;
  }

  .footer-social-icon {
      fill: currentColor;
  }
   
.footer-form {
    display: flex;
      width: 100%; 
}


.footer-form-input {
    border: 1px solid #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    max-width: 396px;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    color: #fff;
    outline: transparent;
    margin-top: 16px;
}
.footer-form-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;

}
  .footer-text-subs {
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      
      color: #fff;
      margin-top: 72px;
  }
.subscribe-btn {
display: flex;
margin: 0 auto;
align-items: center;
      height: 40px;
       border-radius: 4px;
    background-color: var(--primary-brand-color);
    border: 1px solid var(--primary-brand-color);
    color: #fff;
    border-style: none;
    padding: 8px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin-top: 16px;
    transition: border-color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.footer-button-icon {
    margin-left: 16px;
    fill: #fff;

}

 /*  

.footer-form {
    display: flex;
    
}




.subscribe-btn:hover,  .subscribe-btn:focus {
    background: var(--hov-focus-color);
    border-color: 1px solid var(--hov-focus-color);

}

  
 */

/* -------------------------portfolio----------------- */
/* --------Main--------- */
/* .main {
    padding-top: 96px;
    padding-bottom: 120px;

}
.main-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 48px;
}
.main-btn {
    color: var(--primary-brand-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    min-width: 69px;
    padding: 12px 24px;
    background: var(--light-color);
    transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), border-color 250ms var(--timing-function);
   }

.main-btn:hover,
.main-btn:focus {
    background: var(--hov-focus-color);
    color: var(--white-color);
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 2px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12) ;
    border-color: var(--hov-focus-color);
}
 
.servises-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.services-item {
    width: calc((100% - 48px)/3);
}
.services-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--modal-overlay-color);
    margin-bottom: 8px;
}
.services-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.services-content {
    padding: 32px 16px;
    border: 1px solid var(--accent-color);
    border-top: 0;
}
.services-link {
    display: block;
    transition: box-shadow 250ms var(--timing-function);
    
}

.services-link:hover,
.services-link:focus {
    box-shadow: 0  2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}
.services-top-wrap {
    position: relative;
    overflow: hidden;
}
.services-link:is(:hover, :focus) .services-item-text-overlay {
    transform: translateY(0);
    opacity: 1;
}
.services-item-text-overlay {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
    background-color: var(--primary-brand-color);
    padding: 40px 32px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function) ;
    overflow: auto;
}
.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);

}

.modal {
    
    width: 408px;
    min-height: 576px;
    padding: 24px;
    background-color: #FCFCFC;
    box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1); 
    transition: transform 250ms var(--timing-function);
    padding: 72px 24px 24px 24px;


}
.modal-close {
    color: var(--modal-overlay-color);
    background-color: var(--accent-color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
 

}
.modal-close-icon {
    fill: currentColor;
}
.modal-close:hover, .modal-close:focus {
    background-color: var(--hov-focus-color);
    border: 1px solid var(--hov-focus-color);
     color: #fff;

}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
 
}
.modal-form-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--modal-overlay-color);
    text-align: center;
    margin-bottom: 20px;
}
.form-label span {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
    display: block;
    margin-bottom: 4px;

}


.form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 11px;
    padding-left: 38px;
    outline: transparent;
   
    }

.form-label {
    display: block;
    position: relative;
    margin-bottom: 8px;
        
}
.form-icon {
    position: absolute;
    left: 16px;
    top: 32px;
    
}
.form-input:focus, .form-textarea:focus {
    border-color: var(--primary-brand-color);
}
.form-input:focus + .form-icon {
    fill: var(--primary-brand-color);
}
.form-textarea {
    display: block;
    width: 100%;
    min-height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;
    outline: transparent;

}
.form-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    display: block;
}
 .form-check-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--subtle-text-color);
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 24px;
   
} 
.modal-form-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #4D5AE5;
        
}

.form-check-checkbox {
    
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F42;
    border-radius: 2px;
    cursor: pointer;
    outline: transparent;
    margin-right: 8px;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.modal-form-check:checked + .form-check-checkbox {

    background-color: var(--hov-focus-color);
    border: 1px solid var(--hov-focus-color);
}
.modal-form-check:checked + .form-check-checkbox .modal-form-check-icon {
    opacity: 1;
    fill: var(--hov-focus-color);
   
}
.form-btn{
    display: block;
    min-width: 169px;
    padding: 16px 32px;
    margin: 0 auto;
    color: var(--white-color);
    background: var(--primary-brand-color);
    border: 1px solid transparent;
    border-radius: 4px;
    transition: background-color 250ms var(--timing-function);

 }
 .form-btn:hover {
     background: var(--hov-focus-color);

 } */