@media screen and (min-width: 768px)  {
    .container {
        max-width: 768px;
    }
        .mobile-menu {
            display: none;
        }
        
    .mobile-menu-open {
        display: none;
    }
        .header {
            border-bottom: 1px solid var(--accent-color);
            box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08), 0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
        }
       
        .header-container {
            
            display: flex;
            align-items: center;
           
        }
    
        .header-navigation {
            display: flex;
            align-items: center;
        }
    
        .header-logo {
            color: var(--dark-color);
            margin-right: 76px;
        }
    
        .header-list {
            display: flex;
            gap: 40px;
    
        }
    
      
        .address-list {
            display: flex;
            flex-wrap: wrap;
            padding: 16px 0;
            margin-left: 121px; 
    
  
        }
    
        .header-link {
            display: block;
            padding: 24px 0;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--dark-color);
            padding: 24px 0;
            position: relative;
            transition: color 250ms var(--timing-function);
    
        }
    
        .current::after {
            content: '';
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--hov-focus-color);
            position: absolute;
            left: 0;
            bottom: 0;
        }
    
        .header-link.current {
            color: var(--hov-focus-color);
        }
    
        .address-link {
            
            margin-top: 12px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--text-color);
            transition: color 250ms var(--timing-function);
    
        }
    
        .header-link:hover,
        .header-link:focus {
            color: var(--hov-focus-color);
        }
    
        .address-link:hover,
        .address-link:focus {
            color: var(--hov-focus-color);
        }
                .hero {
                    max-width: 768px;
                    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablethero.jpg);
                    
                }
        
                @media screen and (min-device-pixel-ratio: 2),
                screen and (min-resolution:192dpi),
                screen and (min-resolution:2dppx) {
                    .hero {
                        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tablethero@2x.jpg);
        
                    }
        
                }
        
                .hero-title {
                max-width: 496px;
                width: 100%;
                margin: 0 auto;
                margin-bottom: 36px;
                text-align: center;
                font-weight: 700;
                font-size: 56px;
                line-height: 1.07;
                letter-spacing: 0.02em;
                color: var(--white-color);
                }
        
              
        
                .hero-btn:hover {
                    background: var(--hov-focus-color);
        
                }
                               
                .qualities-title {
                text-align: start;
                                   
                  }
                 
                                  
                                  
                                  .qualities-item {
                                 max-width: 356px;
                            
                                  }

 @media screen and (max-width: 1199px) {
     .qualities-list {

         display: flex;
         flex-wrap: wrap;
         row-gap: 72px;
         column-gap: 24px;



     }
     .team-list {
     
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
        
}
.customers-list{
    max-width: 554px;
    margin: 0 auto;
}
.customers-item {
     width: 168px; 
    
}
.footer-container {
    max-width: 565px;
    display: flex;
    flex-wrap: wrap;
}
.footer-social-subtitle {
    margin-top: 0;
}
 .footer-social {
     margin-top: 0;
     margin-left: 24px;
 }
 .footer-form-input {
    width: 264px;
    margin-right: 24px;
 }
 .modal {

     width: 408px;
     min-height: 586px;
     padding: 24px;
     
     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14);
     padding: 72px 24px 24px 24px;


 }
  .main {
      padding-top: 96px;
      padding-bottom: 96px;

  }
 .servises-list {

     column-gap: 24px;

 }

 .services-item:last-child {
margin-right: 380px;

 }

 }}